<!DOCTYPE html>
<html lang="pr-br">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Teste</title>
</head>
<body>
     <h1>Eu renderizei no EJS</h1>

     <form action="/" method="POST">
          Nome: <input type="text" name="nome">
          <button>Enviar</button>
     </form>
</body>
</html>